name: Mobile CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Install Dependencies
        run: flutter pub get
        working-directory: Frontend

      - name: Code Quality Check
        run: flutter analyze
        working-directory: Frontend

      - name: Run Unit Tests
        run: flutter test
        working-directory: Frontend

      - name: Build Application
        run: flutter build apk --release
        working-directory: Frontend

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: Frontend/build/app/outputs/flutter-apk/*.apk
